*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
body{
    background-color: #ccc;
}
 .header{
    margin: 0 auto;
    width: 90%;
background-color: #fff;
box-shadow: 1px 1px 1px 1px #ccc;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
 }
 h2>span{
    color: orange;
    font-weight: bold;
 }
 .link{
    cursor: pointer;
    opacity: .7;
    font-weight: bold;
 }
 .link:hover{
    transition: .3s all;
    opacity: 1;

 }
 .link a{
   color: black;
   opacity: .7;
 }

 .banner{
    background-color: #fff;
    margin: 8% auto;
    width: 90%;
    border-radius: 30px;
    padding: 3%;
 }
 .Catogray{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
 }
 .banner .Catogray .cat{
    margin: 0 2%;
position: relative;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .banner .container .Catogray .cat img{
    width:100%;
height: 50%;
border-radius: 10px;

 }
  .Catogray .cat::before{
    content: attr(data-cat);
    position: absolute;
    width: 25%;
    background-color: #a8611f;
    color: white;
    top: 0;
    opacity: .8;
    left: 0;
    text-align: center;
display: flex;
    transition: .5s all ease;
    border-radius: 8px;
    justify-content: center;
 }
 .Catogray .cat:hover.cat::before{
 transform:translate(130px,0px) ;
opacity: 1;
 }
 /* .Catogray .cat::after{
    content: "Show!";
    position: absolute;
    width: 46%;
    background-color: #a8611f;
    color: white;
    top: 47%;
    opacity: 1;
    left: 29%;
    text-align: center;
    transition: .1s all ease;
    border-radius: 8px;
    padding: 4px 3px;
    cursor: pointer;
 } */
 .cat {
   padding: 26px;
   box-shadow: -1px -1px 9px #ccc;
   border-radius: 10px;
 }
 .footer{
    background-color: black;
    margin: 0% auto;
    width: 90%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 3%;
    color: white;
 }
 .footer .content{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .content a{
    text-decoration: none;
 transition: .3s;
 }
 .content a:hover{
   
    opacity: 1;
 }